.ToDo {
  width: 420px;
  padding: 5px;
}

.ToDo__li {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  font-weight: bold;
  cursor: pointer;
}

.strike {
  text-decoration: line-through;
  color: #7fa2c2;
  cursor: default;
}

.ToDo__li--postDate {
  text-transform: uppercase;
  font-size: x-small;
}
